{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, h1 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #community-top-spacer {
            height: 25px;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="community-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Community Details</h1>
                    <table id="community" class="table table-striped table-bordered">
                        <tr>
                            <th>Tier</th>
                            <th>Point Balance</th>
                            <th>Display Name</th>
                            <th>Phone Number</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td>{{ users.get(user)['tier'] }}</td>
                            <td>{{ users.get(user)['point_balance'] }}</td>
                            <td>
                                <a onclick="showLocation()">
                                    {{ users.get(user)['display_name'] }}
                                </a>
                                <dialog id="locationDialog" onclick="close()" > 
                                    {% if users.get(user)['location'] %} 
                                        {{ users.get(user)['location'] }}
                                    {% endif %}
                                </dialog>
                            </td>
                            <td>
                                {% for num in users.get(user)['phone'] %}
                                    {{ num }} <br/>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor%}
                    </table>
                </div>
            </div>

        </div>

    </div>

    <script>
        var dialog_box = document.getElementById("locationDialog");
        
        function showLocation() { 
            dialog_box.showModal();
        }
   
        function close() {
            dialog_box.close();
        } 
    </script>

{% endblock %}
